#include <winver.h>
#include "../ptlibzippy.h"

VS_VERSION_INFO		VERSIONINFO

  FILEVERSION		PTLIBZIPPY_VER_MAJOR,PTLIBZIPPY_VER_MINOR,PTLIBZIPPY_VER_REVISION,0
  PRODUCTVERSION	PTLIBZIPPY_VER_MAJOR,PTLIBZIPPY_VER_MINOR,PTLIBZIPPY_VER_REVISION,0
  FILEFLAGSMASK		VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS		1
#else
  FILEFLAGS		0
#endif
  FILEOS		VOS__WINDOWS32
  FILETYPE		VFT_DLL
  FILESUBTYPE		0	// not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    //language ID = U.S. English, char set = Windows, Multilingual
    BEGIN
      VALUE "FileDescription",	"PTlibzippy data compression library\0"
      VALUE "FileVersion",	PTLIBZIPPY_VERSION "\0"
      VALUE "InternalName",	"ptlibzippy1.dll\0"
      VALUE "LegalCopyright",	"(C) 1995-2026 Jean-loup Gailly & Mark Adler\0"
      VALUE "OriginalFilename",	"ptlibzippy1.dll\0"
      VALUE "ProductName",	"PTlibzippy\0"
      VALUE "ProductVersion",	PTLIBZIPPY_VERSION "\0"
      VALUE "Comments",		"For more information visit http://projecttick.org/p/zlib/\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
