    __ _____ _____ _____
 __|  |   __|     |   | |  JSON for Modern C++ (supporting code)
|  |  |__   |  |  | | | |  version 0.0.5-1
|_____|_____|_____|_|___|  https://github.com/Project-Tick/json

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}
{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
